@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

/*Navigation Bar*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, 0.6)!important;
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar-brand img {
  height: 5rem;
  width: 15rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .7rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f7abe4;
}

/*Navigation Bar*/

/*Landing Page */

.home-inner {
  background-image: url('/vendors/img/sample.jpg');
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  z-index: 1;
  color: white;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.6rem;
  font-size: 1.1rem;
}

/*Landing Page */

/*products section*/

/*products section*/

/* testimonials section */

.testimonial-container {
  background-color: #505962;
  color: #fafafa;
}

.testimonial-container, .slider-area {
  padding: 15px 0;
  position: relative;
}

.carousel-control-prev, .carousel-control-next {
  background: transparent;
}

.img-area {
  height: 20%;
  width: 20%;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.img-area img {
  width: 100%;
}

.carousel-caption {
  position: static;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* testimonials section */

/*footer section*/

footer {
  background-color: #505962;
  color: #fafafa
}

/*footer section*/

/*============= About Section =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h2 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}

.btn-secondary:hover, .btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/